.header {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(12px);
}

.inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logoSlot {}

.action {
  display: flex;
}

@media (max-width: 768px) {
  .inner {
    gap: 12px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 8px; 
  }

  .nav {
    order: 1;
    flex: 0 0 auto;
    justify-content: flex-start;
  }

  .logoSlot {
    order: 2;
  }

  .action {
    order: 3;
    flex: 0 0 auto;
  }
}


@media (max-width: 376px) {
  .inner {
    padding: 0;
  }
}